.cvsignore
runtime/**
/src/.cvsignore
/src/GvimExt/.cvsignore
/src/VisVim/.cvsignore
/src/auto/.cvsignore
/src/gui_amiga.c
/src/gui_amiga.h
/src/gui_at_fs.c
/src/gui_at_sb.c
/src/gui_at_sb.h
/src/gui_athena.c
/src/gui_beos.cc
/src/gui_beos.h
/src/gui_beval.c
/src/gui_beval.h
/src/gui_gtk.c
/src/gui_gtk_f.c
/src/gui_gtk_f.h
/src/gui_gtk_vms.h
/src/gui_gtk_x11.c
/src/gui_motif.c
/src/gui_photon.c
/src/gui_riscos.c
/src/gui_riscos.h
/src/gui_w16.c
/src/gui_w32.c
/src/gui_w32_rc.h
/src/gui_w48.c
/src/gui_x11.c
/src/guiw16rc.h
/src/gvim.exe.mnf
/src/os_unixx.h
/src/os_vms.c
/src/os_vms_conf.h
/src/os_vms_fix.com
/src/os_vms_mms.c
/src/os_w32dll.c
/src/os_w32exe.c
/src/os_win16.c
/src/os_win16.h
/src/os_win32.c
/src/os_win32.h
/src/po/.cvsignore
/src/xxd/.cvsignore
